*{
    box-sizing: border-box;
    margin: 0 0;
    border: none;
}

body{
    min-width: 100vw;
    min-height: 100vh;
    background-color: slategrey;
}
.title{
    font-weight: 700;
    text-align: center;
    padding-top: 24px;
}

.text{
    text-align: center;
    margin-top: 16px;
    font-size: 32px;
}