*{
    box-sizing: border-box;
    margin: 0 0;
    border: none;
}

body{
    min-width: 100vw;
    min-height: 100vh;
    background-color: slategrey;
}
.main-text{
    font-weight: 700;
    text-align: center;
    padding-top: 24px;
}